@model IEnumerable<Entity.Concrete.Comment>

<div class="comment-top">
    <h4>@ViewBag.message</h4>
    @foreach (var x in Model)
    {
        <div class="media">
            <img src="~/CoreBlogTema/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@x.CommentUserName</h5>
                <p>
                    @x.CommentContent
                </p>
            </div>
        </div>
    }
</div>