
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Yaşar</td>
        <td>Sejour</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mehmet</td>
        <td>Sejour</td>
    </tr>
</table>
